* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #23242a;

}

.animated-form {
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.animated-form::before {
    content: "";
    width: 380px;
    height: 420px;
    position: absolute;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg, transparent, aqua, aqua);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.animated-form::after {
    content: "";
    width: 380px;
    height: 420px;
    position: absolute;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg, transparent, aqua, aqua);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.actual-form {
    background-color: #2c2c2c;
    inset: 4px;
    position: absolute;
    border-radius: 8px;
    z-index: 10;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Uvnitř Formu */

.myForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    height: 80%;
    align-items: center;
    margin: 0 auto;
}

.input {
    padding: 5px;
    width: 80%;
    border: 2px solid aqua;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #2c2c2c;
    letter-spacing: 1px;
    color: aqua;
}

.input:focus {
    outline: none;
    width: 90%;
}

input[type="submit"] {
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid aqua;
    background-color: #2c2c2c;
    color: white;
    width: 60%;
    font-weight: bold;
    letter-spacing: 0.5px;
}


input[type="submit"]:hover {
    border: 2px solid white;
    color: aqua;
}

input[type="submit"]:active {
    background-color: #1c1c1c;
}

.forgot {
    display: block;
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}

.forgot a {
    text-decoration: none;
    color: gray;
}

.forgot a:hover {
    color: rgb(94, 94, 94);
}

.bonusText {
    color: white;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left: -25%;
    margin: 10px;
    letter-spacing: 0.5px;
}
